.contents {
  display: flex;
  gap: 1.6rem;
  max-width: 144rem;
  margin: 3rem auto;
  padding: 0 2rem;
}
.dojangContainer {
  min-width: 36rem;
}
.titleWrap {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}
.tabMenu {
  display: flex;
  gap: 0.8rem;
}
.LevelContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
